CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/CamllonCRM/public/'
app.indexPage = ''
app.appTimezone = 'Asia/Kolkata'

database.default.hostname = localhost
database.default.database = rd10_crm
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
